.titleclass{
	background-color: darkgray;
}


.input-group{
   
    margin-left: 50%;
    margin-top: 8%;
  
}
 


.query-response{
    font-family: 'Kaushan Script', cursive;
    font-weight: bold;
        
    
}

body{
    background-image: url("parchment.png");
    background-size:cover;
}

