.titleclass{
	
    height: 75px;
	background-color: darkgray;
}

h1::first-letter{

    font-size: 65px;
    font-weight: bold;
    font-family: 'Lobster', cursive;
	
}

.input-group{
   
    margin-left: 50%;
    margin-top: 8%;
  
}
 


.query-response{
    font-family: 'Kaushan Script', cursive;
    font-weight: bold;
        
    
}

body{
	
  background-image: url("parchment.png");
	 -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
        background-size: cover;  
}


.glyphicon{
	top:0;
}